<div class="m-4 border">
    <div class="m-2">
        <input [ngModel]="id" type="text" class="form-control" placeholder="Enter Search Id">
    </div>
    <div class="m-2">
        <button class="btn btn-primary" (click)="searchCustomer()">Search</button>
    </div>
</div>
<div class="m-4">
    <label class="form-label"></label>
</div>
<div class="m-4">
    <input [(ngModel)]="customer.name" type="text" class="form-control" placeholder="Enter Name">
</div>
<div class="m-4">
    <input [(ngModel)]="customer.city" type="text" class="form-control" placeholder="Enter City">
</div>
<div class="m-4">
    <input [(ngModel)]="customer.phoneNumber" type="text" class="form-control" placeholder="Enter Phone Number">
</div>
<div class="m-4">
    <button (click)="persist()" class="btn btn-primary">Submit</button>
</div>