<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Simple header</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><button routerLink="" class="nav-link">Home</button></li>
            <li class="nav-item"><button routerLink="manage-customer" routerLinkActive="active" class="nav-link">Customer</button></li>
            <li class="nav-item"><button routerLink="namage-item" routerLinkActive="active" class="nav-link">Item</button></li>
            <li class="nav-item"><button  class="nav-link">FAQs</button></li>
            <li class="nav-item"><button  class="nav-link">About</button></li>
        </ul>
    </header>
</div>