
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Rental Date">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Expected Return Date">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Due Date">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Return Date">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Fine">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Total Cost">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Customer Id">
</div>
<div class="m-4">
    <input type="text" class="form-control" placeholder="Enter Item Code">
</div>
<div class="m-4">
    <button class="btn btn-primary">Submit</button>
</div>